@import "variable";

.game_landing__header {
    background-image: url('../images/angelina-andreas-jungleruins.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.game_landing__header__store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 179px;
}

.game_landing__header__logo {
    padding-block-start: 8px;
}

.game_landing__header__label__dropdown {
    padding-inline-end: 29px;
    border-inline-end: 0.873968px solid #FFFFFF;
}

.game_landing__header__homepage {
    margin-inline-start: 19px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    flex-wrap: wrap;
    margin-block-start: -24px;
}

.game_landing__header__homepage {
    background-image: url('../images/menu-icon.svg');
    background-repeat: no-repeat;
}

.game_landing__header__list {
    display: flex;
    background-color: #FFB548;
    padding: 12px;
    border-radius: 2.94008px;
}

.game_landing__header__steam {
    border-inline-end: 0.642383px solid #1A1917;
    padding-inline-end: 11px;
}

.game_landing__header__amount {
    padding-inline-start: 8px;
}

.game_landing__header__list__data_store {
    color: #1A1917;
}

.game_landing__header__store__story {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    padding-block-start: 174px;
    padding-block-end: 53px;
}

.game_landing__header__store__story_scroll {
    background-image: url('../images/scroll-down.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-block-end: 1rem;
    color: #FFFFFF;
}

