.game_landing__header {
  background-image: url("../images/angelina-andreas-jungleruins.png");
  background-repeat: no-repeat;
  background-size: cover; }

.game_landing__header__store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 179px; }

.game_landing__header__logo {
  padding-block-start: 8px; }

.game_landing__header__label__dropdown {
  padding-inline-end: 29px;
  border-inline-end: 0.873968px solid #FFFFFF; }

.game_landing__header__homepage {
  margin-inline-start: 19px; }

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
  flex-wrap: wrap;
  margin-block-start: -24px; }

.game_landing__header__homepage {
  background-image: url("../images/menu-icon.svg");
  background-repeat: no-repeat; }

.game_landing__header__list {
  display: flex;
  background-color: #FFB548;
  padding: 12px;
  border-radius: 2.94008px; }

.game_landing__header__steam {
  border-inline-end: 0.642383px solid #1A1917;
  padding-inline-end: 11px; }

.game_landing__header__amount {
  padding-inline-start: 8px; }

.game_landing__header__list__data_store {
  color: #1A1917; }

.game_landing__header__store__story {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  padding-block-start: 174px;
  padding-block-end: 53px; }

.game_landing__header__store__story_scroll {
  background-image: url("../images/scroll-down.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-block-end: 1rem;
  color: #FFFFFF; }

#lang_dropdown {
  background-color: rgba(0, 0, 0, 0.75);
  border: transparent;
  color: #ffffff; }

.game_landing__header__language_select__option:hover {
  color: #FFB548; }

.menu_dropdown {
  display: none; }

.game_landing__header__menu {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 50px rgba(204, 181, 181, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

[type="checkbox"]:checked ~ header .game_landing__header__menu {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.75); }

[type="checkbox"]:checked ~ .game_landing__header .game_landing__header__homepage {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

span {
  color: transparent; }

.game_landing__header__menu__lists {
  padding-block-end: 22px; }

.game_landing__header__menu__lists__links {
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff; }

.game_landing__header__menu__lists__links:hover {
  color: #FFB548; }

body {
  background-color: #000000;
  color: #FFFFFF; }

h3 {
  color: #FFB548; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.game_landing__header {
  background-image: url("../images/angelina-andreas-jungleruins.png");
  background-repeat: no-repeat;
  background-size: cover; }

.game_landing__header__store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 179px; }

.game_landing__header__logo {
  padding-block-start: 8px; }

.game_landing__header__label__dropdown {
  padding-inline-end: 29px;
  border-inline-end: 0.873968px solid #FFFFFF; }

.game_landing__header__homepage {
  margin-inline-start: 19px; }

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
  flex-wrap: wrap;
  margin-block-start: -24px; }

.game_landing__header__homepage {
  background-image: url("../images/menu-icon.svg");
  background-repeat: no-repeat; }

.game_landing__header__list {
  display: flex;
  background-color: #FFB548;
  padding: 12px;
  border-radius: 2.94008px; }

.game_landing__header__steam {
  border-inline-end: 0.642383px solid #1A1917;
  padding-inline-end: 11px; }

.game_landing__header__amount {
  padding-inline-start: 8px; }

.game_landing__header__list__data_store {
  color: #1A1917; }

.game_landing__header__store__story {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  padding-block-start: 174px;
  padding-block-end: 53px; }

.game_landing__header__store__story_scroll {
  background-image: url("../images/scroll-down.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-block-end: 1rem;
  color: #FFFFFF; }

#lang_dropdown {
  background-color: rgba(0, 0, 0, 0.75);
  border: transparent;
  color: #ffffff; }

.game_landing__header__language_select__option:hover {
  color: #FFB548; }

.menu_dropdown {
  display: none; }

.game_landing__header__menu {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 50px rgba(204, 181, 181, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

[type="checkbox"]:checked ~ header .game_landing__header__menu {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.75); }

[type="checkbox"]:checked ~ .game_landing__header .game_landing__header__homepage {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

span {
  color: transparent; }

.game_landing__header__menu__lists {
  padding-block-end: 22px; }

.game_landing__header__menu__lists__links {
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff; }

.game_landing__header__menu__lists__links:hover {
  color: #FFB548; }

.game_landing__container__gallery {
  background-size: cover;
  padding-block-start: 19px;
  padding-block-end: 36px; }

.game_landing__container__gallery__lists {
  position: relative; }

.game_landing__container__gallery__lists-1 {
  position: absolute;
  left: 0;
  z-index: -1; }

.game_landing__container__gallery__lists-2 {
  position: absolute;
  left: 15%;
  top: 4%;
  z-index: -1; }

.game_landing__container__gallery__lists-3 {
  position: absolute;
  left: 20%;
  top: 8%;
  z-index: -2; }

.game_landing__container__gallery__header {
  border-bottom: 2px #FFFFFF solid;
  border-radius: 2.34486px; }

.game_landing__container__gallery__header__big_title {
  margin-block-start: -15px;
  margin-block-end: 50px; }

.game_landing__container__gallery__game_about {
  padding-block-start: 33px;
  padding-inline-start: 36px;
  padding-inline-end: 14px; }

.game_landing__container__gallery >
.game_landing__container__gallery__game_about:nth-of-type(2) {
  padding-block-start: 16px;
  padding-block-end: 51px; }

.game_landing__container__features {
  background-image: url("../images/feature-background-semi-transparent.png"), url("../images/feature-background-image.png");
  background-repeat: no-repeat; }
